
        <div id="cuartoDiv">                            <!--div para la imagen de fondo-->
            <h1>Mamma Mía</h1>                          <!--Titulo principal de la pagina-->
        </div>

        <div class="GaleryContenedor">              <!--div para la galeria de imagenes-->
            <div class="tituloGalery">
                <h2>Recetas mas populares</h2>          <!--titulo de la galeria de imagenes-->
            </div>
            <div class="divGalery">
                <div class="galery1">           <!--primera imagen de la galeria-->
                    <figure>
                        <img src="Img/galery1.jpg" alt="galery1"
                        width="300px">          <!--tamaño de la primera imagen de la galeria-->
                        <div class="capa">
                            <h2>Lasaña</h2>         <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>
                <div class="galery2">           <!--segunda imagen de la galeria-->
                    <figure> 
                        <img src="Img/galery2.jpg" alt="galery2"
                        width="300px">              <!--tamaño de la segunda imagen de la galeria-->
                        <div class="capa">
                            <h2>Pasta alla norma</h2>       <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>
                <div class="galery3">           <!--tercera imagen de la galeria-->
                    <figure> 
                        <img src="Img/galery3.jpg" alt="galery3"
                        width="300px">                      <!--tamaño de la tercera imagen de la galeria-->
                        <div class="capa">
                            <h2>Carbonara</h2>          <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>
                <div class="galery4">           <!--cuarta imagen de la galeria-->
                    <figure> 
                        <img src="Img/galery4.jpg" alt="galery4"
                        width="300px">              <!--tamaño de la cuarta imagen de la galeria-->
                        <div class="capa">
                            <h2>Fetttucine al bosque</h2>       <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>
                <div class="galery5">               <!--quinta imagen de la galeria-->
                    <figure>
                        <img src="Img/galery5.jpg" alt="imgGalery5"
                        width="300px">                  <!--tamaño de la quinta imagen de la galeria-->
                        <div class="capa">
                            <h2>Napolitana</h2>         <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>
                <div class="galery6">               <!--sexta imagen de la galeria-->
                    <figure> 
                        <img src="Img/galery6.jpg" alt="imgGalery6"
                        width="300px">                  <!--tamaño de la sexta imagen de la galeria-->
                        <div class="capa">
                            <h2>Marinara</h2>           <!--texto descriptivo de la imagen-->
                        </div>
                    </figure>
                </div>

            </div>
        </div>
        <div id="quintoDiv">                                    <!--div usado como contenedor-->
            <div id="sextoDiv">                                             <!--div con texto e imagen-->
                <h2>Pizza, pasta y mucho más</h2>               <!--texto y titulo 1-->
                <p>La gastronomia italiana es reconocida en todo el mundo 
                    por su variedad y sabor. Desde la clásica pizza 
                    napolitana hasta el cremoso risotto, hay un plato
                    italiano para cada gusto. ¡Animate a explorar!
                </p>

                <br>
                <h2>Una tradición milenaria</h2>                <!--texto y titulo 2-->
                <p>Cada plato cuenta con una historia, trasmitida de
                    generación en generación. Al probar la comida italiana, 
                    no solo satisfaces tu apetito, sino que te conectas
                    con una tradición milenaria de sabor y pasión.
                </p>
            </div>

            <div id="septimoDiv">                               <!--div dentro del quinto div con texto e imagen-->
                <h2>Una experiencia  única</h2>                <!--texto y titulo 3-->
                <p>Probar la comida italiana es una experiencia que no
                    olvidarás. El aroma del pan recien horneado, el sabor
                    de una salda casera y la textura de una pasta al dente
                    te transportan a italia. ¡Animate a vivir esta aventura
                    culinaria!
                </p>
                <br>
                <h2>Simpleza y sabor</h2>                   <!--texto y titulo 4-->
                <p>La cocina italia se destaca por su simplicidad y el uso 
                    ingredientes frescos y de alta calidad. Cada plato es 
                    una celebración de sabores naturales de la tierra. 
                    Descubre el verdadero sabor de los tomates, el queso 
                    parmesano y el aceite de oliva extra virgen. 

                </p>
            </div>
        </div>
        <br>
        <div id="novenoDiv">                <!--div usado como contenedor para el carrusel de imagenes-->
            <div id="tituloMenu"> 
                <h2>Menu</h2>               <!--Titulo del carrusel-->
            </div>
            <div class="slider-wrapper">                <!--contededor que incluye al currusel-->
                <div class="slider">                    <!--Imagenes del carrusel-->
                    <img id="slider1" src="Img/11.jpg" alt="">              <!--imagen 1-->
                    <img id="slider2" src="Img/22.jpg" alt="">              <!--imagen 2-->
                    <img id="slider3" src="Img/33.jpg" alt="">              <!--imagen 3-->
                    <img id="slider4" src="Img/44.jpg" alt="">              <!--imagen 4-->
                </div>
                <div class="slider-nav">                <!--ordenando las imagenes con la forma de una lista-->
                    <a href="#slider1"></a>             <!--imagen 1-->
                    <a href="#slider2"></a>             <!--imagen 2-->
                    <a href="#slider3"></a>             <!--imagen 3-->
                    <a href="#slider4"></a>             <!--imagen 4-->
                </div>
            </div>
            <br>
            <br>

            <button class="btnPedir">           <!--agregando un boton del carrusel-->
                ¡Pedir!                     <!--texto dentro del boton del carrusel-->
            </button>
            <br>
        </div>
        
        <div class="buttonsNetwork">                            <!--agregando el boton media de facebook-->
            <a class="buttonsNetwork_list" href="https://www.facebook.com">             <!--link del boton-->
                <i class="fa-brands fa-facebook-f"></i>
                <p class="socialMediaP">Facebook</p>
            </a>

            <a class="buttonsNetwork_list" href="https://www.instagram.com">        <!--agregando el boton media de instagram-->
                <i class="fa-brands fa-instagram"></i>              <!--link del boton-->
                <p class="socialMediaP">Instagram</p>
            </a>

            <a class="buttonsNetwork_list" href="https://mail.google.com/mail/u/0/?ogbl#inbox">             <!--agregando el boton media de gamil-->
                <i class="fa-regular fa-clock"></i>
                <p class="socialMediaP">Gmail</p>                       <!--link del boton-->
            </a>

            <a class="buttonsNetwork_list" href="https://www.whatsapp.com">             <!--agregando el boton media de whatsapp-->
                <i class="fa-brands fa-whatsapp"></i>
                <p class="socialMediaP">WhatsApp</p>            <!--link del boton-->
            </a>
        </div>
    
    <br>
    <div class="divCalculadora">        <!--div para agregar la calculadora de calorias-->
        <div class="containerCalculadora">          <!--contenedor para agregar la calculadora-->

        
            <div class="tituloCalculadora">             <!--Titulo de la calculadora-->
                <h1>Calculadora de Calorías y Macronutrientes</h1>

                <h2>Elije una Receta</h2>               <!--Titulo para elegir recetas de la calculadora-->
            </div>

            <div id="listaRecetas">                 <!--lista de recetas de la calculadora-->
                <select id="recetas" onchange="actualizarIngredientes()" multiple>
                    <option value="pasta">Pasta</option>            <!--opcion 1-->
                    <option value="pizza">Pizza</option>            <!--opcion 2-->
                    <option value="ensalada">Ensalada</option>      <!--opcion 3-->
                    <option value="lasaña">Lasagna</option>         <!--opcion 4-->
                    <option value="risoto">Risoto</option>          <!--opcion 5-->
                </select>
            </div>


            <h2>Número de porciones</h2>            <!--titulo para anunciar las porciones deseadas-->
            <div id="texfieldPorciones">
                <input type="number" id="porciones" value="1" min="1" onchange="calcular()" />      <!--tomar datos numericos -->
            </div>
                <h2>Agregar Ingredientes (opcional)</h2>        <!--titulo para indicar si desea agregar mas ingredientes a la receta-->
            <div id="ingredientesRelacionados"></div>       <!--div para mostrar los ingredientes a añadir-->

            <h2>Contiene:</h2>              <!--titulo para decir el contenido de cada ingrediente añadido-->
            <div id="ingredientesPersonalizados"></div>     <!--div para mostrar los datos del ingrediente añadido-->

            <h2>Consumiras: </h2>                                               <!--Titulo para anunciar datos a consumir-->
            <p>Total Calorías: <span id="totalCalorias">0</span></p>            <!--espacio para mostrar el total de calorias-->
            <p>Proteínas: <span id="totalProteinas">0</span> g</p>              <!--espacio para mostrar el total de proteinas-->
            <p>Carbohidratos: <span id="totalCarbohidratos">0</span> g</p>      <!--espacio para mostrar el total de carbohidratos-->
            <p>Grasas: <span id="totalGrasas">0</span> g</p>                    <!--espacio para mostrar el total de grasas-->

            <button onclick="quitarIngrediente()">Quitar Ingrediente</button>       <!--botton para quitar ingredientes a la receta-->
        </div>
        <script src="CalculadoraJS.js"></script>            <!--Agrego las funcionalidades del JavaScript-->
    </div>    
