.div1{
    background-color: #e5d8cd;
    margin-left : 150px;
    margin-right: 50px;
}

.color1{
    color: rgb(66, 0, 0);
    font-size: 60px;
}

.centrarItem {
    display: inline;
    justify-items: center;
}


/*estilos para elefecto hover de las imagenes*/
.tamanoImages {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.imagen-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 320px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.overlay p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.imagen-container:hover .overlay {
    bottom: 0;
}

.imagen-container:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}